<header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</header>
<body class='container-fluid'>
<h1>To-do List<h1>

{% for rejectable in rejectables %}
	
<div style='margin:auto;border-style:solid;border-width:5px;border-color:white;text-align:center;width:50%;'>
<h1 > <a href='task/{{rejectable.what}}/' >{{rejectable.readableWhat}}</a></h1>
<h2>Summary: {{rejectable.readableWho}}</h2>
<h2> {%if rejectable.isPending %}
				Pending
			 {% elif rejectable.accepted %}
				Successfully completed!
			 {% else %}
				Failed
			 {% endif %}</h2><br/>
		</div><br/>
{% endfor %}<a href='/tracker/new-task/' >
<button class='btn btn-success glyphicon gliyphicon-plus'>New task </button></a>

<body>
<style> body{
background-color:black;
color:white;
font-size:26px;
text-align:center;
}
button {padding:20px;font-size:40px;}
 </style>